body {
    /*background-image: url("../images/wood.png");*/
    background-color: rgba(0, 0, 0, .9);
    background-size: 250px;
    background-repeat: repeat;
    overflow: auto;
}

a {
    display: block;
}

iframe {
    box-shadow: 2px 2px 15px 2px black;
}

.shadowbox {
    box-shadow: 5px 5px 20px black;
}

.content {
    color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, .1);
    text-shadow: 1px 1px 2px black;
}

.slideshow {
    display: none;
    text-align: center;
}

.slideshow img {
    width: 70%;
    border-radius: 50px;
    opacity: .8;
}

.content h1, .navigation a, .lbl-toggle span {
    text-align: center;
    font-family: 'OctinSpraypaintFree';
    color: rgba(255, 255, 255, .6);
}

.under-construction .overlay-image {
    background-image: url("../images/under_construction2.png");
    background-size: 10%;
    background-position: center 80%;
}

footer {
    color: antiquewhite;
    opacity: .6;
}